{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        .card {
            margin: 10px;
        }
    </style>


</head>

<body>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
            TODO APP
        </a>
    </nav>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3 card">
                <div class="submit_form">
                    <form method="POST" class='card-body'>
                        {% csrf_token %}
                        {{forms|crispy}}
                        <div>
                            <input type="submit" class="btn btn-primary" value="create" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-8">

                {% for i in list %}
                <div class="card" id="item_{{i.id}}">
                    <form id="form_{{i.id}}" class="form-inline " action="#" method="POST"
                        onsubmit="event.preventDefault();">
                        {% csrf_token %}
                        <div class="container">
                            <ul class="list-inline">
                                <li class="list-inline-item pull-left">
                                    <input id="title_{{i.id}}" name="title" type="text" maxlength="100" required
                                        readonly class="h4 card-title form-control-plaintext" value="{{i.title}}">
                                </li>
                                <input id="date_{{i.id}}" name="date" type="text" required readonly
                                    class="card-title form-control-plaintext" value="{{i.date}}">
                                <br>
                                <li class="list-inline-item">
                                    <input id="details_{{i.id}}" name="details" required readonly
                                        class="card-title form-control-plaintext" value="{{i.details}}">
                                </li>
                                <br>
                                <li class="list-inline-item">

                                    <button class="form-control btn btn-primary mr-2" value="edit"
                                        id="edit_btn_{{i.id}}" onclick="make_form_editable({{i.id}})">edit</button>

                                    <button class="form-control btn btn-primary mr-2" value="update" type="submit"
                                        onclick="submit_update({{i.id}})">update</button>

                                </li>
                                <li class="list-inline-item float-right">

                                    <button value="remove" type="submit" class="btn btn-danger"
                                        onclick="submit_delete({{i.id}})">remove</button>

                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                {% endfor%}

            </div>
        </div>

    </div>
    </div>
</body>
<script>

    function make_form_editable(item_id) {
        console.log(item_id)
        console.log('here' + item_id)
        title = document.getElementById("title_" + item_id)
        title.removeAttribute('readonly')
        details = document.getElementById("details_" + item_id)
        details.removeAttribute('readonly')
        date = document.getElementById("date_" + item_id)
        date.removeAttribute('readonly')
        console.log('here' + item_id)

        old_date = date.value
        console.log('here' + item_id)

        date.setAttribute('value', document.getElementById('id_date').value)
        console.log('here' + item_id)

        edit_btn = document.getElementById("edit_btn_" + item_id)
        console.log(1)
        edit_btn.setAttribute('onclick', `make_form_not_editable(${item_id}, "${old_date}")`)
        edit_btn.innerText = "Cancel"

        return true;

    }

    function make_form_not_editable(item_id, old_date) {

        title = document.getElementById("title_" + item_id)
        title.setAttribute('readonly', 'true')
        details = document.getElementById("details_" + item_id)
        details.setAttribute('readonly', 'true')
        date = document.getElementById("date_" + item_id)
        date.setAttribute('readonly', 'true')
        date.setAttribute('value', old_date)
        edit_btn = document.getElementById("edit_btn_" + item_id)
        edit_btn.setAttribute('onclick', `make_form_editable(${item_id})`)
        edit_btn.innerText = "Edit"

        return true;

    }



    function submit_delete(item_id) {

        form = document.getElementById("form_" + item_id)
        form.setAttribute('action', '/del/' + item_id)
        form.submit()
        return false;

    }
    function submit_update(item_id) {
        console.log(item_id)
        form = document.getElementById("form_" + item_id)
        form.setAttribute('action', '/update/' + item_id)
        form.submit()
        return false;

    }
</script>

</html>